<% content_for(:title) do %>
About Sam Saffron
<% end %>
<h1>About Me</h1>

<p>I am the Co CEO of <a href='http://www.discourse.org'>Discourse</a>.</p>
<p>
For speaking engagements and general enquiries I can be contacted at sam@samsaffron.com
</p>

<h1>About this blog</h1>

<p>
In it's current incarnation this blog is implemented as a <a href="https://github.com/samsaffron/blog">Discourse plugin</a>
</p>

