/*reset*/
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

body {
  font-size: 62.5%;
}


/* my styles */

#wrapper
{
	width: 960px;
	margin: 10px auto;
	text-align: left;
}

/* header style */

#header
{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

#headerLogo
{
	margin:0px;
	padding: 5px 15px;
	height:80px;

  background-color: #0f406c;
	border-bottom: 1px solid #aac;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#headerLogo .htitle h3
{
   color: #EEE;
   margin-top:5px;
   font-size: 2.2rem;
   font-family: Arial, Helvetica, sans-serif;
   /*text-shadow: 0px 4px 0px #1a456c;*/
}
#headerLogo .tagline
{
   color: #ccc;
   margin-top: 11px;
   font-family: Courier New, Arial, Helvetica, sans-serif;
   font-size: 0.9rem;
}

#headerLogo .htitle
{
  float: left;
  display: block;
}

#headerLogo ul
{
  float: right;
  display: block;
  list-style-type: none;
  font-size: 0.7rem;
  color: #bbb;
}

.clear
{
	clear: both;
}

#navbar
{
	padding: 0px;
  background-color: #001527;
}
#content .postTitle h2 a, #content .postTitle h2 a:visited, #content .postTitle h2 a:hover
{
  color: #001527;
}

#navbar ul
{
	list-style-type: none;
}


#navbar li
{
  display:block;
	float: left;
  margin-right: 5px;
}

#navbar a
{
  color: #bbc;
	display: block;
	padding: 5px 10px 5px;
	text-decoration: none;
	float: left;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 1.1rem;
}

#navbar a:hover
{
	background-color: #01213d;
	color: white;
}

/* main content style */
#content-wrapper {
  display: table;
  max-width: 960px;
  width: 100%;
  border-collapse:collapse;
  table-layout:fixed;
}

#content-wrapper:after {
  content: "";
  display: table-row;
  width: 100%;
}

#content
{
  display: table-cell;
  padding-right: 20px;
}

#sidebar
{
  display: table-cell;
  width: 230px;
}

.section ul
{
  font: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 0.85rem;
  margin-top: 8px;
}

.section li
{
  margin-top: 8px;
  line-height: 1.1rem;
}

#sidebar .section
{
  margin-bottom: 20px;
  padding: 10px;
  background-color: #E4EAFF; /* #e1f3ff*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
}

#sidebar .section p
{
  margin-top: 10px;
  line-height: 1.2rem;
}

#sidebar .section h3
{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}

#sidebar a:link, #sidebar a:visited
{
  color: #0F406C;
}

a:link, a:visited
{
	text-decoration: none;
	color: blue;
}

a:hover
{
	text-decoration: underline;
	border-bottom-width: 0px;
	border-bottom-style: none;
}

pre,code {
   font-family: "Consolas", "Monaco","Courier New", Courier, monospace;
}

pre
{
	margin: 10px;
	padding: 10px;
	background: #eee;
	line-height: 25px;
  max-height: 600px;
  overflow: auto;
  width: auto;
  font-size: 1.2rem;
}
pre code {
  line-height: 1.4rem;
}

#content body, #content p,  #content ol, #content ul, #content li, #content h2, #content h3 {
  font-size:   1.05rem;
  line-height: 1.6rem;
  margin: 3px;
  font-family:  'Open Sans',Verdana,Sans-Serif;
  color: #444;
}

#content p
{
	margin-top: 10px;
	margin-bottom: 20px;
}

#content ul
{
	list-style: square;
	margin-left: 25px;
}

#content ol
{
	list-style: decimal;
	margin-left: 25px;
}


#content h1, #content h2, #content h3, #content h4, #content strong, #content em, #content b
{
	font-family: arial, helvetica, sans-serif, verdana;
	font-weight: bold;
}

#content h1
{
	font-size: 2rem;
	margin: 15px 0px;

}

#content h2
{
	font-size: 1.7rem;
	margin-bottom: 15px;
  margin-top: 2.5rem;
}


#content h3
{
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top:2rem;
}



.metadata
{
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 5px;
	margin-left: 0pt;
	font-size: 14px;
	color: #a69e8a;
}

.post
{
	padding: 0px;
}

.postTitle
{
	margin-top: 0px;
	margin-bottom: 0px;
}

#content .postTitle h2
{
  margin-bottom: 2px;
  margin-top: 0px;
}
#content .postTitle p
{
  margin: 0px;
  color: #999;
  padding: 0px 3px 8px;
  font-size: 0.85rem;
}


.postTitle p
{
	margin-top: 0px;
	color: #aaa;
}

.postTitle a:link, .postTitle a:visited
{
	letter-spacing: 0px;
}

.postTitle h2
{
	margin-top: 0px;
	margin-bottom: 5px;
}

.postBody
{
	margin-top: -10px;
	margin-bottom: 20px;
}

.readMore a:link , .readMore a:visited
{
	font-size: 0.7rem;
	font-style: italic;
}

.postFooter
{
	border-top: dotted 1px #bbb;
	padding-bottom: 1px;
  margin-bottom: 15px;
}

.commentBody
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
  float:left;
  width: 600px;
}

.commentRest
{
  background-color: white;
}

.commentGravatar
{
  display:block;
  float: left;
  padding:10px;
}

.commentResponse
{
  border-top: 1px solid silver;
  background-color: #f9f9f9;
  margin: 0px;
  padding: 1px 10px 10px 10px;
}

.commentTitle
{
	margin: 0px;
	padding: 8px 100px;
	border-bottom: 1px solid silver;
  display: block;
  color: black;
}

.commentTitle h3
{
  font-weight: bold;
  padding: 0px;
  color: #222;
  margin: 0px;
}

.commentTitle .date
{
  color: #666;
  margin-left: 8px;
}

.comment
{
	padding: 0px;
	margin-top: 20px;
	border: 1px solid silver;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
	background-color: #e4eaff;
}

.responseForm textarea
{
  width: 600px;
  height: 300px;
  display: block;
}

.responseForm input {
  width: 100px;
  margin-top: 5px;
}

.gravatar
{
	padding: 2px;
}

.emoji {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
}

fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}

label
{
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}

input
{
	width: 300px;
}

.required
{
	font-size: 0.75em;
	color: #760000;
}

.commentPreview
{
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: 3px solid #999;
	border-bottom: 2px solid #999;
	margin-bottom: 2px;
	background-color: white;
}

.download_summary
{
	width: 800px;
}
.download_summary img
{
	float:right;
	margin: 5px;
}

.gray
{
	background-color: #eee;
}

#footer
{
	clear: both;
	border-top: black dotted 1px;
	margin-top: 40px;
  padding-top: 2px;
  font-size: 0.8rem;
}

/* table styling */
table
{
	margin: 10px;
}

th
{
	background: #EEE;
	padding: 10px;
	text-align: left;
}

tr
{
	padding: 10px;
	border-bottom: 1px solid #aaa ;
}

td
{
	padding: 10px;
}

#post_title
{
  width: 650px;
  padding: 5px;
  font-size: 18px;
}


blockquote {
 border : 1px solid #bbb;
 width: 680px;
 margin: 0px;
 padding: 10px;
 background-color: #eee;
 quotes: "\201C" "\201D";
 display: inline-block;
 }
code
{
   background-color: #eee;
   padding: 0px;
}

 .commentBody blockquote
 {
  width: 570px;
 }

.lightbox .meta {
  display: none;
}

.tweet {
  line-height: 18px;
  margin-bottom: 10px;
}

.twitterstatus .source {
  padding-left: 0;
}

pre code{display:block;padding:.5em}pre .comment,pre .annotation,pre .template_comment,pre .diff .header,pre .chunk,pre .apache .cbracket{color:#008000}pre .keyword,pre .id,pre .title,pre .built_in,pre .aggregate,pre .smalltalk .class,pre .winutils,pre .bash .variable,pre .tex .command{color:#00f}pre .string,pre .title,pre .parent,pre .tag .value,pre .rules .value,pre .rules .value .number,pre .ruby .symbol,pre .ruby .symbol .string,pre .ruby .symbol .keyword,pre .ruby .symbol .keymethods,pre .instancevar,pre .aggregate,pre .template_tag,pre .django .variable,pre .addition,pre .flow,pre .stream,pre .apache .tag,pre .date,pre .tex .formula{color:#a31515}pre .ruby .string,pre .decorator,pre .filter .argument,pre .localvars,pre .array,pre .attr_selector,pre .pseudo,pre .pi,pre .doctype,pre .deletion,pre .envvar,pre .shebang,pre .preprocessor,pre .userType,pre .apache .sqbracket,pre .nginx .built_in,pre .tex .special,pre .input_number{color:#2b91af}pre .phpdoc,pre .javadoc,pre .xmlDocTag{color:#808080}pre .vhdl .type{font-weight:bold}pre .vhdl .string{color:#666}pre .vhdl .literal{color:#a31515}


button.thoughtbot {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 1.5em "helvetica neue", helvetica, arial, sans-serif;
  padding: 12px 50px 14px 50px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
   }
  button.thoughtbot:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }
  button.thoughtbot:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4); }

// onebox

.onebox h4 {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

a.loading-onebox {
  background: {
    image: image-url("spinner_96.gif");
    position: 0;
    size: 20px;
    height: 25px;
    repeat: no-repeat;
  };
  padding-left: 25px;
}


.onebox-result {
  margin-top: 15px;
  padding: 12px 25px 12px 12px;
  font-size: 14px;
  > .source {
    margin-bottom: 12px;
    margin-right: 10px;
    display: block;
    position: relative;
    height: 20px;
    .info {
      a {
        color: black;
        text-decoration: none;
        padding-right: 10px;
      }
      position: absolute;
      font-size: 14px;
      img.favicon {
        margin-right: 3px;
      }
    }
  }


  .onebox-result-body {
    padding-top: 5px;
    img {
      max-height: 80%;
      max-width: 25%;
      height: auto;
      float: left;
      margin-right: 10px;
    }
    h3, h4 {
      margin: 0 !important;
    }
    code {
      max-height: 400px;
    }
    .metrics {
      clear: both;
      padding-bottom: 25px;
      .metric {
        display: inline-block;
        padding-left: 33px;
        float: left;
      }
    }
  }
}

// RottenTomatoes Onebox
.onebox-result {
  .onebox-result-body {
    img.verdict {
      float: none;
      margin-right: 7px;
    }
    img.popcorn {
      float: none;
      margin-left: 20px;
      margin-right: 5px;
    }
  }
}

@mixin onebox-favicon($class, $image) {
  &.#{$class} .source {
    background-image: image-url("favicons/#{$image}.png");
    background-repeat: no-repeat;
    padding-left: 20px;
  }
}

aside.onebox {
  padding: 12px 25px 12px 12px;
  font-size: 14px;
  background-color: #eaeaea;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 10px;

  header {
    a[href] {
      text-decoration: none;
      color: #444;
    }
  }

  @include onebox-favicon('stackexchange', 'stackexchange');
  @include onebox-favicon('twitterstatus', 'twitter');
  @include onebox-favicon('wikipedia', 'wikipedia');
  @include onebox-favicon('githubblob', 'github');
  @include onebox-favicon('amazon', 'amazon');


  .onebox-body {
    clear: both;

    h3, h4 {
      font-size: 1.17em;
      margin: 10px 0 !important;
    }

    a[href] {
      text-decoration: none;
    }

    a[href]:visited {
    }

    img {
      max-height: 80%;
      max-width: 25%;
      height: auto;
      float: left;
      margin-right: 10px;
    }
  }
}

.onebox-avatar {
  height: 90px !important;
  width: 90px !important;
}

blockquote {
  aside.onebox {
  }
}

// -- Onebox Github Code Blob --
pre.onebox code ol.lines li:before {
  position: absolute;
  display:inline-block;
  width:35px;
  left: -40px;
  background: #F7F7F7;
  color:#AFAFAF;
  text-align:right;
  padding-right:5px;
  font-size:12px;
  line-height: 1.9em;
  content: counter(li-counter);
  counter-increment: li-counter;
}


pre.onebox code ol{
	margin-left:0px;
	line-height:1.5em;
}
pre.onebox code li{
	background-color:#fff;
	padding-left:5px;
}

pre.onebox code ol.lines{
	position:relative;
	margin-left: 40px;
}

pre.onebox code ol.lines li {
	list-style-type: none;
	padding-left: 5px;
	margin-left: 0px;
	border-left: 1px solid #CFCFCF;
	min-height: 1.5em; //show empty li lines
  white-space: pre;
}

pre.onebox code li.selected{
	background-color:#F8EEC7
}

pre.onebox code {
 white-space: normal;
}

//Onebox - Github - Pull request
.onebox-body .github-commit-status {
  background: #F5F5F5;
  border-radius: 5px;
  margin:5px 0px 5px 100px;
  padding: 10px;
}

.github-commit-stats {
   margin-top: 5px;
}

.onebox-body .status_tag {
  display:inline-block;
  color:#fff;
  padding:1px 4px;
  border-radius:3px;
  font-weight:bold;
  margin-bottom:5px;
  text-transform:capitalize;
}

.onebox-body .build_status
{
  padding: 2px;
  font-size:12px;
}

.onebox-body .status_tag.open {
  background-color:#6cc644;
}
.onebox-body .status_tag.merged{
  background-color:#6e5494;
}
.onebox-body .status_tag.closed {
  background-color:#bd2c00;
}

.onebox-body .github-content-right{
  margin-left:100px;
}

small {
  font-size: 10px;
}

// responsive stuff
@media (max-width: 1000px) , (max-device-width: 500px) {
  #header {
    max-width: 100%;
  }
  #wrapper {
    margin: auto;
  }
  #headerLogo {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  #content-wrapper {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
  #footer {
    margin-left: 10px;
  }

}

code {
  word-wrap: break-word;
}

@media (max-device-width: 820px) , (max-device-width: 500px) {
  #sidebar {
    display: none;
  }
  #headerLogo ul {
    display: none;
  }
}

@media (max-device-width: 500px) {

  #headerLogo {
    height: 140px;
  }

  #content ol {
    margin-left: 50px;
  }

  html {
    font-size: 2rem;
  }

}

// stop giant links breaking my CSS
a {
  word-wrap: break-word;
}

.site-icon {
  width: 16px;
  height: 16px;
}


// highlight

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#f0f0f0;-webkit-text-size-adjust:none}.hljs,.hljs-subst,.hljs-tag .hljs-title,.nginx .hljs-title{color:black}.hljs-string,.hljs-title,.hljs-constant,.hljs-parent,.hljs-tag .hljs-value,.hljs-rules .hljs-value,.hljs-preprocessor,.hljs-pragma,.haml .hljs-symbol,.ruby .hljs-symbol,.ruby .hljs-symbol .hljs-string,.hljs-template_tag,.django .hljs-variable,.smalltalk .hljs-class,.hljs-addition,.hljs-flow,.hljs-stream,.bash .hljs-variable,.apache .hljs-tag,.apache .hljs-cbracket,.tex .hljs-command,.tex .hljs-special,.erlang_repl .hljs-function_or_atom,.asciidoc .hljs-header,.markdown .hljs-header,.coffeescript .hljs-attribute{color:#800}.smartquote,.hljs-comment,.hljs-annotation,.diff .hljs-header,.hljs-chunk,.asciidoc .hljs-blockquote,.markdown .hljs-blockquote{color:#888}.hljs-number,.hljs-date,.hljs-regexp,.hljs-literal,.hljs-hexcolor,.smalltalk .hljs-symbol,.smalltalk .hljs-char,.go .hljs-constant,.hljs-change,.lasso .hljs-variable,.makefile .hljs-variable,.asciidoc .hljs-bullet,.markdown .hljs-bullet,.asciidoc .hljs-link_url,.markdown .hljs-link_url{color:#080}.hljs-label,.hljs-javadoc,.ruby .hljs-string,.hljs-decorator,.hljs-filter .hljs-argument,.hljs-localvars,.hljs-array,.hljs-attr_selector,.hljs-important,.hljs-pseudo,.hljs-pi,.haml .hljs-bullet,.hljs-doctype,.hljs-deletion,.hljs-envvar,.hljs-shebang,.apache .hljs-sqbracket,.nginx .hljs-built_in,.tex .hljs-formula,.erlang_repl .hljs-reserved,.hljs-prompt,.asciidoc .hljs-link_label,.markdown .hljs-link_label,.vhdl .hljs-attribute,.clojure .hljs-attribute,.asciidoc .hljs-attribute,.lasso .hljs-attribute,.coffeescript .hljs-property,.hljs-phony{color:#88f}.hljs-keyword,.hljs-id,.hljs-title,.hljs-built_in,.css .hljs-tag,.hljs-javadoctag,.hljs-phpdoc,.hljs-dartdoc,.hljs-yardoctag,.smalltalk .hljs-class,.hljs-winutils,.bash .hljs-variable,.apache .hljs-tag,.hljs-type,.hljs-typename,.tex .hljs-command,.asciidoc .hljs-strong,.markdown .hljs-strong,.hljs-request,.hljs-status{font-weight:bold}.asciidoc .hljs-emphasis,.markdown .hljs-emphasis{font-style:italic}.nginx .hljs-built_in{font-weight:normal}.coffeescript .javascript,.javascript .xml,.lasso .markup,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata{opacity:0.5}
