<h2>Secret Info</h2>
<% if @expired %>
<p>Sorry, looks like this secret has been viewed, it is gone now</p>
<% else %>
<p>Click the button to view the hidden info. Information will be deleted once viewed.</p>

<%= form_tag("/secrets/perform_show") do %>
  <%= hidden_field_tag("id", @token) %>
  <%= submit_tag("show") %>
<% end %>
<% end %>
